<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="drop.css">
</head>
<body>
    <nav class="navbar">
        <div id="logo">
            <img class="logo-img" src="images/skill.png" alt="">
            <h2 class="logo-heading">Skill Swap</h2>
        </div>
        <ul class="navlist">
            <li><a href="/home" class="nav-link btn2">Home</a></li>
            <li><a href="skills.html" class="nav-link">Explore Skills</a></li>
    
            <% if (user) { %>
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle">Welcome, <%= user.name %> ▼</a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile" class="dropdown-item">Profile</a></li>
                        <li>
                            <form method="POST" action="/user/logout" style="display:inline;">
                                <button type="submit" class="dropdown-item logout-btn">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            <% } else { %>
                <li><a href="/user" class="nav-link">Sign In / Sign Up</a></li>
            <% } %>
        </ul>
    </nav>
    <section id="skill-section">
        <h1>SKILLS</h1>
        <div class="skill-container">
            <% for(let skill of skills) { %>
            <div class="skill-card">
                <div class="bg"></div>
                <div class="blob"></div>
                <div class="card-detail">
                    <div class="skill-name">
                        <h2><%= skill.title %></h2>
                    </div>
                    <div class="skill-desc"><p><%= skill.desc %></p></div>
                    <div class="btn"><a href="#">Swap</a></div>
                </div>
            </div> 
            <% } %>
        </div>
    </section>
    <footer><p className='footer-p'>&copy; 2025 SkillSwap. All rights reserved.</p></footer>
</body>
</html>