body{
    /* background-color: antiquewhite; */
    color: white;
}
.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    /* height: 80vh; */
    /* border: 2px solid red; */
}

.profile-card {
    /* text-align: center; */
    /* background: white; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* width: 300px; */
}

.profile-actions {
    margin-top: 20px;
}
.name{
    color: tomato;
    font-size: 2.5rem;
}
.bio{
    color: white;
    font-size: .8rem;
}
.profile-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile-actions .btn{
    padding: 7px 14px;
    font-size: 12px;
}

.user-skills {
    margin-top: 20px;
    padding: 20px;
    /* background: rgb(0, 0, 0); */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.user-skills ul{
    list-style: none;
    padding: 0;
   
}

.user-skills li {
    /* background: #f9f9f9; */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 18px;
}

.requests-section{
    margin-top: 20px;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.add-skill-section{
    background-color: rgb(18 44 42 / 71%);
    width: 50%;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
}
.add-skill-section form .skill-input{
    font-weight: bold;
    border-radius: 12px;
    border: none;
}